body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header{
    background: #ffffff;
    color:#000000f4;
    padding: 1rem 0;
    text-align: centre;
}
nav a{
    color: #000000;
    margin: 0 1rem;
    text-decoration: none;
}
section{
    padding: 2rem;
}
footer{
    text-align: centre;
    background: #ffffff
    color: #000000;
    padding: 1rem 0;
}